.count-down {
    min-height: 100%;
    max-width: 60rem;
    width: 100%;
    margin: 0 auto;
    padding-top: 10rem;
    font-family: $secondary-font;
    font-weight: 300;
    color: $color-grey;
    &__top-header {
        font-size: 5rem;
        letter-spacing: 0.4rem;
    }
    .count-down-container {
        height: 23rem;
        border-radius: 1.5rem;
        background: linear-gradient(45deg, rgba(3,203,186,1) 0%, rgba(3,203,186,1) 18%, rgba(167,127,205,1) 100%);
        position: relative;
        &__time {
            font-size: 11rem;
            color: white;
            font-size: bold; 
        }
        &__names {
            font-size: 3.2rem;
            position: absolute;
            top: 14rem;
            left: 8rem;
            li {
                display: inline-block;
                color: white;
                margin-right: 3.5rem;
                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
    &__bottom-header {
        font-size: 5rem;
        letter-spacing: 0.4rem;
    }
    &__btn {
        font-size: 2.7rem;
        color: #A77FCD;
        background: white;
        cursor: pointer;
        border: 1px solid #A77FCD;
        border-radius: 0.5rem;
        padding: 2.5rem 4.4rem;
        font-family: $secondary-font;
        width: 24rem;
        &:hover {
        background: linear-gradient(45deg, rgba(3,203,186,1) 0%, rgba(3,203,186,1) 18%, rgba(167,127,205,1) 100%);
        color: white;
        }
    }
    &:after {
        content: "";
        display: block;
        height: 10rem;
      }

}